/* Navigation */
.wp-block-navigation a:hover {
  color: var(--wp--preset--color--complementary) !important;
  border-bottom: 2px solid var(--wp--preset--color--complementary);
}

.wp-block-navigation-item.current-menu-item>a {
  color: var(--wp--preset--color--primary) !important;
  font-weight: bold !important;
  border-bottom: 2px solid var(--wp--preset--color--complementary);
}

.nav-mobile {
  display: none;
}

@media (max-width: 768px) {

  .nav-left,
  .nav-right {
    display: none;
  }

  .nav-mobile {
    display: block;
  }
}

/* End Navigation */

/* Outline button default */

.wp-block-button__link {
  min-width: 200px;
  display: inline-block;
  text-align: center;
}

.wp-block-button .wp-block-button__link {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--foreground);
  border: 2px solid var(--wp--preset--color--primary);
  transition: all 0.3s ease;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border: 2px solid var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--secondary);
  background-color: transparent;
  transition: all 0.3s ease;
}

.wp-block-button .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--foreground);
  transform: translateY(-2px);
  box-shadow:
    0 0 5px var(--wp--preset--color--primary),
    0 0 10px var(--wp--preset--color--primary),
    0 0 20px var(--wp--preset--color--primary);
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--background);
  transform: translateY(-2px);
  box-shadow:
    0 0 5px var(--wp--preset--color--secondary),
    0 0 10px var(--wp--preset--color--secondary),
    0 0 20px var(--wp--preset--color--secondary);
}

/* End Button */

/* Whatsapp */
#simple-chat-button--button {
  background-color: var(--wp--preset--color--primary) !important;
}



/* portfolio */
.portfolio-preview {
  height: 400px;
  overflow: hidden;
  /* to get only containt width */
  display: inline-block;
}

.portfolio-preview img {
  width: 100%;
  transform: translateY(0);
  transition: transform 5s linear;
}

.portfolio-preview:hover img {
  transform: translateY(calc(-100% + 400px));
}

/* End portfolio */