/* === Utilities === */

/* === Z-Index Utilities === */
.z-0 {
  z-index: 0 !important;
  position: relative !important;
}

.z-10 {
  z-index: 100 !important;
  position: relative !important;
}
.z-front {
  z-index: 9999 !important;
  position: relative !important;
}

.z-behind {
  z-index: -1 !important;
  position: relative !important;
}

.overlay-absolute {
  position: absolute;
}

.relative-wrapper {
  position: relative;
}

.bottom-0 {
  bottom: 0;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.border-radius-20 {
  border-radius: 20px;
}

.light-blue-icon {
  /* https://angel-rs.github.io/css-color-filter-generator/ */
  filter: brightness(0) saturate(100%) invert(43%) sepia(82%) saturate(2006%)
    hue-rotate(166deg) brightness(97%) contrast(97%);
}

body.home .site-header {
  margin-bottom: 0px !important;
}

.hidden{
  display: none;
}

@media (max-width: 768px) {
  .site-content > *:not(.alignwide):not(.alignfull),
  .wp-block-post-content > *:not(.alignwide):not(.alignfull) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


/* Css animation  */
/* أضيفي هذا الكلاس في خانة الـ CSS المخصص للزر */
.modern-hover-btn {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.modern-hover-btn:hover {
    transform: translateY(-4px); /* يرفع الزر قليلاً للأعلى */
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* يضيف ظلاً ناعماً يعطي إيحاء بالعمق */
}

/* عند وضع الماوس على كارت منتج أو صورة مقال، تتكبر الصورة بداخل إطارها دون أن تخرج عنه: */
/* الكلاس الذي يوضع على الحاوية أو العمود (Column) */
.image-container-zoom {
    overflow: hidden; /* لمنع الصورة من الخروج عن الحدود عند التكبير */
}

/* الكلاس الذي يوضع على الصورة نفسها */
.zoom-img {
    transition: transform 0.5s ease;
}

.image-container-zoom:hover .zoom-img {
    transform: scale(1.08); /* تكبير الصورة بنسبة 8% فقط بشكل ناعم */
}
