<!-- wp:template-part {"slug":"header","theme":"tahaninablocktheme"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">404</h2>
<!-- /wp:heading -->

<!-- wp:heading -->
<h2 class="wp-block-heading">page not found</h2>
<!-- /wp:heading -->

<!-- wp:search {"label":"","buttonText":"Search"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"tahaninablocktheme"} /-->