<!-- wp:template-part {"slug":"header","theme":"tahaninablocktheme"} /-->

<!-- wp:group {"className":"site-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group site-content"><!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"aspectRatio":"3/2","width":"","height":"","align":"full","style":{"border":{"radius":"20px"}}} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-date /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"inherit":true}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"tahaninablocktheme"} /-->